body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

#land {
  background: url(../images/land.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #FFF; }
  #land .welcome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    #land .welcome h1 {
      font-size: 4rem;
      font-weight: 300; }
    #land .welcome p {
      font-size: 1vw; }
  #land header {
    margin-top: 3rem; }
    #land header i {
      font-size: 4rem;
      /*line-height: 4rem;*/ }
    #land header span {
      font-size: 2rem;
      font-style: italic;
      position: relative;
      top: -0.5rem;
      margin-left: 1rem; }

#intro {
  padding: 4em 0 3em 0;
  color: #717171; }
  #intro p {
    padding: 1em 0; }

#features #design-quality {
  background-color: #f5999e;
  color: #FFF; }
#features #build-to-last {
  background-color: #625f7e;
  color: #FFF; }
#features #our-clients {
  background: url(../images/our-clients.jpg);
  background-size: cover;
  background-position: center;
  color: #FFF; }
#features #signup-see {
  background: url(../images/signup.jpg);
  color: #FFF; }
#features #perfect-pictures {
  background-color: #7ec497;
  color: #FFF; }
#features a {
  color: #FFF;
  margin: 0 1em 2em 0;
  display: inline-block; }
  #features a i {
    margin-left: 1em; }

#details {
  padding: 4em 0 3em; }
  #details h2 {
    margin-bottom: 1em; }

#explore {
  background: url(../images/explore.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative;
  color: #FFF; }
  #explore .content-explore {
    position: absolute;
    bottom: 4em; }
    #explore .content-explore h2 {
      font-size: 4vw; }
    #explore .content-explore a {
      color: #FFF; }
      #explore .content-explore a i {
        margin-left: 1em; }

#reasons {
  background-color: #7ec497;
  color: #FFF;
  padding: 4em 0 5em; }
  #reasons h2 {
    margin-bottom: 2em; }
  #reasons h4 {
    font-weight: 700;
    margin-bottom: 1em; }

#plans {
  padding: 4em 0 5em 0;
  background-color: #f2f1f1; }
  #plans #legacy-plan {
    padding: 4em 4em; }
  #plans label {
    background-color: #717171; }
  #plans a {
    background-color: #7ec497;
    color: #FFF;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em; }
  #plans i {
    margin-right: 1em;
    color: #717171;
    font-size: 1.5em; }
  #plans #team-plan {
    padding: 4em 4em;
    background-color: #FFF;
    box-shadow: 0 0 1em #717171; }
    #plans #team-plan label {
      background-color: pink; }

#footer {
  padding: 4em 0;
  background-color: #2B2929;
  color: #FFF; }
  #footer h5 {
    margin-bottom: 1em;
    font-weight: bold; }
  #footer #touch {
    padding-left: 4em; }
  #footer input {
    height: 50px; }
  #footer span {
    background-color: #7ec497;
    height: 50px;
    width: 50px;
    text-align: center; }
  #footer li {
    color: #FFF; }
  #footer a {
    color: #FFF; }

/*# sourceMappingURL=app.css.map */
