#explore {
  background: url(../images/explore.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative;
  color: $light-font-color;
  .content-explore {
    position: absolute;
    bottom: 4em;
    h2 {
      font-size: 4vw;
    }
    a {
    color: $light-font-color;
      i {
        margin-left: 1em;
      }
    }
  }
  
}