#features {
  #design-quality {
    background-color: #f5999e;
    color: $light-font-color;
  }
  #build-to-last {
    background-color: #625f7e;
    color: $light-font-color;
  }
  #our-clients {
    background: url(../images/our-clients.jpg);    
    background-size: cover;
    background-position: center;
    color: $light-font-color;
  }
  #signup-see {
    background: url(../images/signup.jpg);
    color: $light-font-color;

  }
  #perfect-pictures {
    background-color: #7ec497;
    color: $light-font-color;
  }

  a {
    color: $light-font-color;
    margin: 0 1em 2em 0;
    display: inline-block;
    i{
      margin-left: 1em;
    }
  }
}